/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "myTheme";
@import '~bootstrap/scss/bootstrap';
body{
    color: grey;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
input, textarea, select{
    color: grey;
}
.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
  }
  .shadowed-ele{
    box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
    border: 1px solid rgb(232, 232, 232);
  }