.pet-container
{
     
    height: 250px;
    margin:20px ;
    width: 220px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    img{
        width: 100%;
    }
}