
.search-container{
    position: relative;
    
   
    .i-pincode{
        left: 10px;      
     
    }
    .i-searchtext{
        left: 140px;      
    }
    .pincode{
        border-right: 1px solid red;
        padding-left:35px;
        width: 120px;
    }
    input{
        border: none;
    }
    i{
        position: absolute;        
        font-size: 19px;
        top: 23%;
    }
    .auto-search{
        height: 50px;        
        padding-left: 50px !important;        
        width: 450px;
    }

}
@media only screen and (max-width: 600px) {
    .search-container{
        width: 90% !important;
        .i-searchtext{
            left: 130px;      
        }
        .pincode{
           width:90px;
            padding-left:10px;
            
        }
    .auto-search{
        height: 40px !important; 
        padding-left: 40px !important;            
        width: 150px !important;
    }
    i{
        font-size: 17px;
    }
}
  }