
<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand app-name" href="#">PetsCube</a>
   
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       
         
         
         
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="register float-right mr-3">
          <span *ngIf="!userName" (click)="signInClicked()" >Sign In</span>
          <span (click)="signInClicked()" *ngIf="userName">{{userName}}</span>
        </div>
         
      </form>
    </div>
  </nav>
 


<div class="container mt-5">
    <router-outlet></router-outlet>
</div>