$bigscreen-width:70%;
$smallscreen-width:95%;
.bigscreen-display{
    width: $bigscreen-width;
    margin: 0px auto;
}
.nav-upper{
   width: 90%;
   margin: 0px auto;
}
.app-name{
    font-size: 25px;
    font-weight: 500;
}
.body{
    @extend .bigscreen-display;
 }
 .header{
     height: 100px;
 }


@media only screen and (max-width: 600px) {
    .nav-upper{
        width:$smallscreen-width;
     }
     .body{
        width:$smallscreen-width;
        
     }
  }